.container {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.content {
    display: flex;
}

.blocks {
    width: 80%;
}

.blocksFullWidth {
    width: 100%;
}

.cart {
    width: 20%
}